### **I'm attempting to create my own progressive dataset based on the season's progression to capture new features not captured in nba_api that might help to improve accuracy. By the end of the season, I will once again check accuracy. The new feature of interest this season is injuries going into each game.**
### **A "half" injury is a day-to-day/game-time decision**

In [1]:
!pip install nba_api

Collecting nba_api
  Downloading nba_api-1.11.3-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from nba_api) (2.0.2)
Requirement already satisfied: pandas>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from nba_api) (2.2.2)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /usr/local/lib/python3.12/dist-packages (from nba_api) (2.32.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.10.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.17.0)
Downloading nba_api-1.11.3-py3-none-any.whl (318 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 319.0/319.0 kB 4.6 MB/s eta 0:00:00
Installing collected packages: nba_api
Successfully installed nba_api-1.11.3

In [5]:
import nba_api
from nba_api.stats.endpoints import leaguegamelog
import pandas as pd
import numpy as np

gl = leaguegamelog.LeagueGameLog(season='2025-26', season_type_all_star='Regular Season')
df = gl.get_data_frames()[0]
df['HOME_OR_AWAY'] = np.where(
    df['MATCHUP'].str.contains(' vs. '), 1,
    np.where(df['MATCHUP'].str.contains(' @ '), 0, np.nan)
)
df['MATCHUP'] = df['MATCHUP'].apply(lambda x: x.split(' ')[2])
df['STARTER_INJURIES'] = [0, 1.5, 1, 1, 0, 1.5, 0, 2, 0, 1, 0, 1, 0, 0, 0, 1, 2, 0.5, 0.5, 1.5, 0, 0, 1, 0, 1,
                          1, 0.5, 1, 0, 1.5, 0, 1, 0, 2, 0, 0, 2, 1, 0, 1, 0, 0.5, 0, 0, 1, 1, 0.5, 0, 1, 1,
                          1, 1.5, 0, 1, 2, 0, 1, 1, 0, 1, 1.5, 1, 2, 1, 0, 1, 2, 1.5, 0, 1.5, 0, 0, 0, 1, 0.5,
                          0.5, 0.5, 0, 1, 1.5, 1, 1, 1, 0.5, 0, 1, 0, 1, 1.5, 0, 2, 1.5, 1, 0, 1.5, 0, 0, 1.5, 0, 0.5,
                          0, 0, 1, 1.5, 0, 1, 1, 2, 1, 1, 0, 1, 1.5, 1, 1, 1, 0, 0.5, 0, 0.5, 2, 0.5, 0, 1, 0,
                          1, 1, 0, 1, 0.5, 1, 1, 2, 2, 1, 0.5, 0, 0, 2, 1.5, 0, 1.5, 0, 1, 1, 0, 1, 1, 2, 1.5,
                          1, 2, 0, 2, 0, 1, 1, 0.5, 2, 1, 0, 0, 3, 0, 0, 0, 0, 2, 1, 1.5, 1.5, 0, 2, 2, 1,
                          1, 1.5, 1.5, 1, 2, 1, 0, 0, 1, 2, 0.5, 2, 1, 0.5, 2, 0.5, 0, 0.5, 1, 2, 1, 2, 0, 2, 0.5,
                          2, 2, 0, 0.5, 0, 1, 1.5, 1, 1, 1, 1, 0, 0, 1, 1, 1.5, 2.5, 0, 1.5, 0, 2, 1.5, 1, 1, 0.5,
                          1, 0.5, 2, 2, 0, 1, 1, 1.5, 1, 1.5, 1.5, 1, 1, 0.5, 0.5, 2, 2, 0, 0, 1, 1, 2, 1, 0, 0.5,
                          1, 1.5, 0, 1, 0, 0, 0, 0.5, 2, 0.5, 1.5, 1, 1, 1, 0, 1, 2, 2, 1.5, 0, 2, 0, 2, 0.5, 1,
                          2, 1, 1, 1, 1, 0.5, 0, 0, 1.5, 1, 0, 0, 0, 1, 0.5, 0.5, 1, 1, 0, 1, 0, 1, 1.5, 1, 2,
                          0.5, 1, 0, 1, 1.5, 1, 2, 2, 0, 0, 1, 0.5, 0, 0, 1, 0.5, 0, 0.5, 1, 1, 1, 0, 2, 0, 3,
                          1, 1, 0, 0, 1.5, 1, 1, 0, 0, 2, 0, 1, 3, 2, 0.5, 1.5, 0, 2, 1.5, 2, 0, 0.5, 0, 3, 0,
                          0, 0, 1, 0, 1, 2.5, 3, 0, 1, 0, 2, 2, 0.5, 0, 2, 2.5, 0, 0.5, 1, 0, 1, 0, 1, 1, 1, 2,
                          1, 1, 0, 0, 0, 1.5, 0.5, 1, 0, 1, 0, 0, 1, 0, 1.5, 0, 1, 1, 2, 0, 1.5, 1, 0.5, 1, 3,
                          1, 2, 1, 3, 1.5, 0, 0, 1, 1, 1, 1, 0, 0, 0, 3, 0, 1, 0, 1.5, 1, 2, 0, 1, 1, 0.5]

df['W/L'] = np.where(df['WL'] == 'W', 1, 0)
df = df.drop(columns=['SEASON_ID', 'TEAM_NAME', 'WL', 'VIDEO_AVAILABLE', 'PLUS_MINUS'])
df

,TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,MATCHUP,MIN,FGM,FGA,FG_PCT,FG3M,...,REB,AST,STL,BLK,TOV,PF,PTS,HOME_OR_AWAY,STARTER_INJURIES,W/L
0,1610612745,HOU,0022500001,2025-10-21,OKC,290,43,97,0.443,11,...,52,23,6,5,25,26,124,0.0,0.0,0
1,1610612744,GSW,0022500002,2025-10-21,LAL,240,38,78,0.487,17,...,40,29,10,4,19,27,119,0.0,1.5,1
2,1610612747,LAL,0022500002,2025-10-21,GSW,240,42,77,0.545,8,...,39,23,7,2,20,21,109,1.0,1.0,0
3,1610612760,OKC,0022500001,2025-10-21,HOU,290,46,104,0.442,13,...,38,29,12,4,12,27,125,1.0,1.0,1
4,1610612737,ATL,0022500082,2025-10-22,TOR,240,38,90,0.422,10,...,34,25,7,6,16,24,118,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,1610612759,SAS,0022500252,2025-11-18,MEM,240,42,87,0.483,16,...,38,23,10,3,9,16,111,1.0,2.0,1
422,1610612762,UTA,0022500253,2025-11-18,LAL,240,48,92,0.522,13,...,33,33,13,2,18,30,126,0.0,0.0,0
423,1610612747,LAL,0022500253,2025-11-18,UTA,240,50,84,0.595,11,...,41,31,9,1,17,21,140,1.0,1.0,1
424,1610612756,PHX,0022500254,2025-11-18,POR,240,47,98,0.480,14,...,46,24,19,4,18,27,127,0.0,1.0,1
425,1610612757,POR,0022500254,2025-11-18,PHX,240,42,97,0.433,10,...,43,24,7,6,20,12,110,1.0,0.5,0

In [6]:
matchups_df = df.merge(
    df,
    left_on=['GAME_ID', 'TEAM_ABBREVIATION', 'MATCHUP'],
    right_on=['GAME_ID', 'MATCHUP', 'TEAM_ABBREVIATION'],
    suffixes=('', '_OPP')
)
matchups_df

,TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,MATCHUP,MIN,FGM,FGA,FG_PCT,FG3M,...,REB_OPP,AST_OPP,STL_OPP,BLK_OPP,TOV_OPP,PF_OPP,PTS_OPP,HOME_OR_AWAY_OPP,STARTER_INJURIES_OPP,W/L_OPP
0,1610612745,HOU,0022500001,2025-10-21,OKC,290,43,97,0.443,11,...,38,29,12,4,12,27,125,1.0,1.0,1
1,1610612744,GSW,0022500002,2025-10-21,LAL,240,38,78,0.487,17,...,39,23,7,2,20,21,109,1.0,1.0,0
2,1610612747,LAL,0022500002,2025-10-21,GSW,240,42,77,0.545,8,...,40,29,10,4,19,27,119,0.0,1.5,1
3,1610612760,OKC,0022500001,2025-10-21,HOU,290,46,104,0.442,13,...,52,23,6,5,25,26,124,0.0,0.0,0
4,1610612737,ATL,0022500082,2025-10-22,TOR,240,38,90,0.422,10,...,54,36,10,4,19,31,138,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,1610612759,SAS,0022500252,2025-11-18,MEM,240,42,87,0.483,16,...,59,30,6,4,14,15,101,0.0,1.0,0
422,1610612762,UTA,0022500253,2025-11-18,LAL,240,48,92,0.522,13,...,41,31,9,1,17,21,140,1.0,1.0,1
423,1610612747,LAL,0022500253,2025-11-18,UTA,240,50,84,0.595,11,...,33,33,13,2,18,30,126,0.0,0.0,0
424,1610612756,PHX,0022500254,2025-11-18,POR,240,47,98,0.480,14,...,43,24,7,6,20,12,110,1.0,0.5,0
425,1610612757,POR,0022500254,2025-11-18,PHX,240,42,97,0.433,10,...,46,24,19,4,18,27,127,0.0,1.0,1

In [7]:
X = matchups_df[['TEAM_ID', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'PTS', 'HOME_OR_AWAY', 'STARTER_INJURIES', 'TEAM_ID_OPP', 'FGM_OPP', 'FGA_OPP', 'FG_PCT_OPP', 'FG3M_OPP', 'FG3A_OPP', 'FG3_PCT_OPP',
        'FTM_OPP', 'FTA_OPP', 'FT_PCT_OPP', 'OREB_OPP', 'DREB_OPP', 'REB_OPP', 'AST_OPP', 'TOV_OPP', 'STL_OPP', 'BLK_OPP', 'PF_OPP', 'PTS_OPP', 'HOME_OR_AWAY_OPP', 'STARTER_INJURIES_OPP']]
y_wl = matchups_df[['W/L']]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

X_train, X_test, y_train, y_test = train_test_split(X, y_wl.values.ravel(), test_size=0.25, random_state=42)

clf = LogisticRegression(max_iter=1000)
beta = clf.fit(X_train, y_train)

y_pred = beta.predict(X_test)
y_pred_proba = beta.predict_proba(X_test)
loss = log_loss(y_test, y_pred_proba)

print(loss)
print("Accuracy:", accuracy_score(y_test, y_pred))

0.26752910405241564
Accuracy: 0.9532710280373832

In [9]:
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import RFE

results = []

for k in range(1, X.shape[1]+1):
    rfe = RFE(estimator=LogisticRegression(max_iter=1000), n_features_to_select=k)
    X_rfe = rfe.fit_transform(X_train, y_train)
    score = cross_val_score(LogisticRegression(max_iter=1000), X_rfe, y_train, cv=5).mean()
    results.append((k, score))

results_df = pd.DataFrame(results, columns=['Num_Features', 'CV_Accuracy'])
print(results_df.sort_values('CV_Accuracy', ascending=False))

    Num_Features  CV_Accuracy
1              2     1.000000
2              3     1.000000
6              7     1.000000
3              4     1.000000
4              5     1.000000
5              6     1.000000
8              9     1.000000
7              8     1.000000
9             10     1.000000
10            11     1.000000
12            13     1.000000
11            12     1.000000
14            15     0.996875
13            14     0.996875
15            16     0.996875
18            19     0.993700
16            17     0.993700
17            18     0.993700
22            23     0.993700
19            20     0.993700
20            21     0.993700
21            22     0.993700
23            24     0.993700
24            25     0.987450
26            27     0.984325
25            26     0.984325
27            28     0.984325
28            29     0.981200
0              1     0.771131
33            34     0.684177
29            30     0.684127
32            33     0.681002
31            32     0.674752
40            41     0.674752
35            36     0.658879
38            39     0.596677
30            31     0.593502
34            35     0.593502
39            40     0.593502
36            37     0.593502
41            42     0.593502
37            38     0.577629

In [10]:
coef_df = pd.DataFrame({
    'Feature': X.columns,
    'Coefficient': clf.coef_[0]
}).sort_values(by='Coefficient', key=abs, ascending=False)

print(coef_df.head(12))

     Feature  Coefficient
39   PTS_OPP    -0.097476
18       PTS     0.096651
1        FGM     0.036993
22   FGM_OPP    -0.036654
11      DREB     0.032058
13       AST     0.029597
12       REB     0.029563
32  DREB_OPP    -0.028598
33   REB_OPP    -0.027059
34   AST_OPP    -0.026936
28   FTM_OPP    -0.013016
29   FTA_OPP    -0.012241

In [11]:
X_verify = matchups_df[['FGM', 'DREB', 'REB', 'AST', 'PTS', 'FGM_OPP',
        'FTM_OPP', 'FTA_OPP', 'DREB_OPP', 'REB_OPP', 'AST_OPP', 'PTS_OPP']]

X_train, X_test, y_train, y_test = train_test_split(X_verify, y_wl.values.ravel(), test_size=0.25, random_state=42)

clf = LogisticRegression(max_iter=1000)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
y_pred_proba = clf.predict_proba(X_test)
loss = log_loss(y_test, y_pred_proba)

print(loss)
print("Accuracy:", accuracy_score(y_test, y_pred))

0.010860391010402518
Accuracy: 0.9906542056074766

In [12]:
from nba_api.stats.endpoints import leaguedashteamstats

team_stats = leaguedashteamstats.LeagueDashTeamStats(season='2025-26', league_id_nullable='00').get_data_frames()[0]
team_stats

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,1610612737,Atlanta Hawks,15,9,6,0.600,720.000000,638,1314,0.486,...,14,1,23,5,6,4,16,13,8,13
1,1610612738,Boston Celtics,15,8,7,0.533,720.000000,629,1394,0.451,...,4,20,1,11,6,20,30,21,11,9
2,1610612751,Brooklyn Nets,14,2,12,0.143,672.000000,526,1203,0.437,...,30,24,12,26,28,14,14,11,26,27
3,1610612766,Charlotte Hornets,14,4,10,0.286,677.000000,569,1235,0.461,...,12,18,24,27,13,5,4,14,19,21
4,1610612741,Chicago Bulls,13,7,6,0.538,634.000000,568,1182,0.481,...,14,12,8,24,17,23,5,29,21,18
5,1610612739,Cleveland Cavaliers,15,10,5,0.667,725.000000,637,1387,0.459,...,9,7,17,7,3,13,25,3,3,10
6,1610612742,Dallas Mavericks,15,4,11,0.267,735.000000,589,1313,0.449,...,3,21,29,9,1,22,18,2,18,24
7,1610612743,Denver Nuggets,13,10,3,0.769,629.000000,583,1159,0.503,...,16,15,1,25,26,9,2,23,20,2
8,1610612765,Detroit Pistons,15,13,2,0.867,725.000000,654,1359,0.481,...,1,9,21,4,1,18,28,5,5,4
9,1610612744,Golden State Warriors,16,9,7,0.563,773.000000,629,1377,0.457,...,7,2,30,2,14,9,24,12,1,17
10,1610612745,Houston Rockets,12,9,3,0.750,591.000000,538,1096,0.491,...,22,30,5,21,20,5,1,27,29,3
11,1610612754,Indiana Pacers,14,1,13,0.071,682.000000,528,1313,0.402,...,11,28,9,29,17,14,26,7,27,29
12,1610612746,LA Clippers,14,4,10,0.286,681.998333,552,1168,0.473,...,25,25,19,16,10,5,9,25,24,22
13,1610612747,Los Angeles Lakers,15,11,4,0.733,720.000000,630,1234,0.511,...,18,11,28,6,27,2,11,4,6,14
14,1610612763,Memphis Grizzlies,15,4,11,0.267,720.000000,579,1354,0.428,...,6,5,15,20,20,23,15,10,16,25
15,1610612748,Miami Heat,14,8,6,0.571,677.000000,634,1298,0.488,...,17,3,11,11,23,19,12,17,9,12
16,1610612749,Milwaukee Bucks,15,8,7,0.533,725.000000,653,1317,0.496,...,23,10,14,18,15,3,27,18,7,19
17,1610612750,Minnesota Timberwolves,14,9,5,0.643,672.000000,605,1218,0.497,...,20,16,13,14,8,9,22,16,13,6
18,1610612740,New Orleans Pelicans,14,2,12,0.143,677.000000,545,1234,0.442,...,26,29,18,10,30,30,8,18,28,28
19,1610612752,New York Knicks,13,8,5,0.615,624.000000,559,1217,0.459,...,21,22,3,23,24,9,3,28,23,7
20,1610612760,Oklahoma City Thunder,15,14,1,0.933,740.000000,654,1366,0.479,...,2,12,6,1,8,5,17,6,2,1
21,1610612753,Orlando Magic,15,8,7,0.533,725.000000,598,1270,0.471,...,5,19,25,11,4,25,23,1,10,16
22,1610612755,Philadelphia 76ers,13,8,5,0.615,628.998333,543,1165,0.466,...,27,26,4,28,4,20,6,22,25,15
23,1610612756,Phoenix Suns,15,9,6,0.600,725.000000,642,1354,0.474,...,10,8,27,3,16,17,28,18,4,8
24,1610612757,Portland Trail Blazers,14,6,8,0.429,677.000000,596,1319,0.452,...,19,22,22,8,20,28,18,9,12,20
25,1610612758,Sacramento Kings,14,3,11,0.214,672.000000,581,1244,0.467,...,29,17,9,17,29,16,7,25,22,26
26,1610612759,San Antonio Spurs,14,10,4,0.714,677.000000,598,1204,0.497,...,13,14,20,14,10,1,10,14,17,5
27,1610612761,Toronto Raptors,14,9,5,0.643,672.000000,618,1241,0.498,...,24,4,7,19,19,26,21,24,14,11
28,1610612762,Utah Jazz,14,5,9,0.357,687.000000,574,1279,0.449,...,8,5,26,22,24,28,18,8,15,23
29,1610612764,Washington Wizards,13,1,12,0.077,634.000000,540,1180,0.458,...,28,27,15,30,10,26,13,30,30,30

In [13]:
cols_to_scale = ['FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'PTS']
team_stats[cols_to_scale] = team_stats[cols_to_scale].div(team_stats['GP'], axis=0)

In [14]:
matchups = [[10, 5], [3, 11], [27, 22], [9, 15], [29, 17], [7, 18], [25, 20], [19, 6], [4, 24]]

In [15]:
for i, matchup in enumerate(matchups):
  away = team_stats.iloc[[matchup[0]]]
  home = team_stats.iloc[[matchup[1]]]

  away = away.reset_index(drop=True)
  home = home.reset_index(drop=True)

  X_new1 = pd.concat([away, home.add_suffix('_OPP')], axis=1)
  X_new1 = X_new1.drop(columns=[c for c in X_new1.columns if c not in X_verify.columns])

  X_new2 = pd.concat([home, away.add_suffix('_OPP')], axis=1)
  X_new2 = X_new2.drop(columns=[c for c in X_new2.columns if c not in X_verify.columns])

  X_new = pd.concat([X_new1, X_new2]).reset_index(drop=True)

  print(clf.predict(X_new))
  probability = clf.predict_proba(X_new)

  print(f"{team_stats.iloc[[matchup[0]]]['TEAM_NAME']} win chance: {probability[0][1]*100}% / lose chance: {probability[0][0]*100}%")
  print(f"{team_stats.iloc[[matchup[1]]]['TEAM_NAME']} win chance: {probability[1][1]*100}% / lose chance: {probability[1][0]*100}%")

[1 0]
10    Houston Rockets
Name: TEAM_NAME, dtype: object win chance: 99.88469448633364% / lose chance: 0.11530551366636388%
5    Cleveland Cavaliers
Name: TEAM_NAME, dtype: object win chance: 0.198039088430099% / lose chance: 99.80196091156989%
[1 0]
3    Charlotte Hornets
Name: TEAM_NAME, dtype: object win chance: 99.99981660130742% / lose chance: 0.00018339869258809927%
11    Indiana Pacers
Name: TEAM_NAME, dtype: object win chance: 0.00015865624537878686% / lose chance: 99.99984134375462%
[1 0]
27    Toronto Raptors
Name: TEAM_NAME, dtype: object win chance: 96.60726850715949% / lose chance: 3.3927314928405172%
22    Philadelphia 76ers
Name: TEAM_NAME, dtype: object win chance: 3.355281377942887% / lose chance: 96.64471862205711%
[0 1]
9    Golden State Warriors
Name: TEAM_NAME, dtype: object win chance: 6.701006507672283e-06% / lose chance: 99.9999932989935%
15    Miami Heat
Name: TEAM_NAME, dtype: object win chance: 99.99999452669796% / lose chance: 5.47330204492269e-06%
[0 1]
29    Washington Wizards
Name: TEAM_NAME, dtype: object win chance: 0.00019812027426915145% / lose chance: 99.99980187972574%
17    Minnesota Timberwolves
Name: TEAM_NAME, dtype: object win chance: 99.99985643069036% / lose chance: 0.00014356930964076753%
[1 0]
7    Denver Nuggets
Name: TEAM_NAME, dtype: object win chance: 99.99999999995607% / lose chance: 4.392042285417119e-11%
18    New Orleans Pelicans
Name: TEAM_NAME, dtype: object win chance: 4.6107018111807206e-11% / lose chance: 99.99999999995389%
[0 1]
25    Sacramento Kings
Name: TEAM_NAME, dtype: object win chance: 5.834076245917735e-05% / lose chance: 99.99994165923755%
20    Oklahoma City Thunder
Name: TEAM_NAME, dtype: object win chance: 99.99994343486615% / lose chance: 5.656513384355577e-05%
[1 0]
19    New York Knicks
Name: TEAM_NAME, dtype: object win chance: 99.99999967364414% / lose chance: 3.263558534527533e-07%
6    Dallas Mavericks
Name: TEAM_NAME, dtype: object win chance: 3.3376399395726997e-07% / lose chance: 99.99999966623601%
[1 0]
4    Chicago Bulls
Name: TEAM_NAME, dtype: object win chance: 87.21130318780828% / lose chance: 12.788696812191713%
24    Portland Trail Blazers
Name: TEAM_NAME, dtype: object win chance: 16.35558214031701% / lose chance: 83.64441785968299%