### **I'm attempting to create my own progressive dataset based on the season's progression to capture new features not captured in nba_api that might help to improve accuracy. By the end of the season, I will once again check accuracy. The new feature of interest this season is injuries going into each game.**
### **A "half" injury is a day-to-day/game-time decision**

In [ ]:
!pip install nba_api

Collecting nba_api
  Downloading nba_api-1.11.3-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from nba_api) (2.0.2)
Requirement already satisfied: pandas>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from nba_api) (2.2.2)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /usr/local/lib/python3.12/dist-packages (from nba_api) (2.32.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.10.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.17.0)
Downloading nba_api-1.11.3-py3-none-any.whl (318 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 319.0/319.0 kB 4.7 MB/s eta 0:00:00
Installing collected packages: nba_api
Successfully installed nba_api-1.11.3

In [ ]:
import nba_api
from nba_api.stats.endpoints import leaguegamelog
import pandas as pd
import numpy as np

gl = leaguegamelog.LeagueGameLog(season='2025-26', season_type_all_star='Regular Season')
df = gl.get_data_frames()[0]
df['HOME_OR_AWAY'] = np.where(
    df['MATCHUP'].str.contains(' vs. '), 1,
    np.where(df['MATCHUP'].str.contains(' @ '), 0, np.nan)
)
df['MATCHUP'] = df['MATCHUP'].apply(lambda x: x.split(' ')[2])
df['STARTER_INJURIES'] = [0, 1.5, 1, 1, 0, 1.5, 0, 2, 0, 1, 0, 1, 0, 0, 0, 1, 2, 0.5, 0.5, 1.5, 0, 0, 1, 0, 1,
                          1, 0.5, 1, 0, 1.5, 0, 1, 0, 2, 0, 0, 2, 1, 0, 1, 0, 0.5, 0, 0, 1, 1, 0.5, 0, 1, 1,
                          1, 1.5, 0, 1, 2, 0, 1, 1, 0, 1, 1.5, 1, 2, 1, 0, 1, 2, 1.5, 0, 1.5, 0, 0, 0, 1, 0.5,
                          0.5, 0.5, 0, 1, 1.5, 1, 1, 1, 0.5, 0, 1, 0, 1, 1.5, 0, 2, 1.5, 1, 0, 1.5, 0, 0, 1.5, 0, 0.5,
                          0, 0, 1, 1.5, 0, 1, 1, 2, 1, 1, 0, 1, 1.5, 1, 1, 1, 0, 0.5, 0, 0.5, 2, 0.5, 0, 1, 0,
                          1, 1, 0, 1, 0.5, 1, 1, 2, 2, 1, 0.5, 0, 0, 2, 1.5, 0, 1.5, 0, 1, 1, 0, 1, 1, 2, 1.5,
                          1, 2, 0, 2, 0, 1, 1, 0.5, 2, 1, 0, 0, 3, 0, 0, 0, 0, 2, 1, 1.5, 1.5, 0, 2, 2, 1,
                          1, 1.5, 1.5, 1, 2, 1, 0, 0, 1, 2, 0.5, 2, 1, 0.5, 2, 0.5, 0, 0.5, 1, 2, 1, 2, 0, 2, 0.5,
                          2, 2, 0, 0.5, 0, 1, 1.5, 1, 1, 1, 1, 0, 0, 1, 1, 1.5, 2.5, 0, 1.5, 0, 2, 1.5, 1, 1, 0.5,
                          1, 0.5, 2, 2, 0, 1, 1, 1.5, 1, 1.5, 1.5, 1, 1, 0.5, 0.5, 2, 2, 0, 0, 1, 1, 2, 1, 0, 0.5,
                          1, 1.5, 0, 1, 0, 0, 0, 0.5, 2, 0.5, 1.5, 1, 1, 1, 0, 1, 2, 2, 1.5, 0, 2, 0, 2, 0.5, 1,
                          2, 1, 1, 1, 1, 0.5, 0, 0, 1.5, 1, 0, 0, 0, 1, 0.5, 0.5, 1, 1, 0, 1, 0, 1, 1.5, 1, 2,
                          0.5, 1, 0, 1, 1.5, 1, 2, 2, 0, 0, 1, 0.5, 0, 0, 1, 0.5, 0, 0.5, 1, 1, 1, 0, 2, 0, 3,
                          1, 1, 0, 0, 1.5, 1, 1, 0, 0, 2, 0, 1, 3, 2, 0.5, 1.5, 0, 2, 1.5, 2, 0, 0.5, 0, 3, 0,
                          0, 0, 1, 0, 1, 2.5, 3, 0, 1, 0, 2, 2, 0.5, 0, 2, 2.5, 0, 0.5, 1, 0, 1, 0]

df['W/L'] = np.where(df['WL'] == 'W', 1, 0)
df = df.drop(columns=['SEASON_ID', 'TEAM_NAME', 'WL', 'VIDEO_AVAILABLE', 'PLUS_MINUS'])
df

,TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,MATCHUP,MIN,FGM,FGA,FG_PCT,FG3M,...,REB,AST,STL,BLK,TOV,PF,PTS,HOME_OR_AWAY,STARTER_INJURIES,W/L
0,1610612745,HOU,0022500001,2025-10-21,OKC,290,43,97,0.443,11,...,52,23,6,5,25,26,124,0.0,0.0,0
1,1610612744,GSW,0022500002,2025-10-21,LAL,240,38,78,0.487,17,...,40,29,10,4,19,27,119,0.0,1.5,1
2,1610612747,LAL,0022500002,2025-10-21,GSW,240,42,77,0.545,8,...,39,23,7,2,20,21,109,1.0,1.0,0
3,1610612760,OKC,0022500001,2025-10-21,HOU,290,46,104,0.442,13,...,38,29,12,4,12,27,125,1.0,1.0,1
4,1610612737,ATL,0022500082,2025-10-22,TOR,240,38,90,0.422,10,...,34,25,7,6,16,24,118,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,1610612758,SAC,0022500044,2025-11-14,MIN,240,41,93,0.441,12,...,44,32,12,4,15,26,110,0.0,0.5,0
368,1610612740,NOP,0022500045,2025-11-14,LAL,240,39,89,0.438,12,...,42,24,11,3,20,23,104,1.0,1.0,0
369,1610612759,SAS,0022500047,2025-11-14,GSW,240,39,85,0.459,14,...,47,28,8,6,21,19,108,1.0,0.0,0
370,1610612747,LAL,0022500045,2025-11-14,NOP,240,44,84,0.524,10,...,45,28,13,5,18,17,118,0.0,1.0,1
371,1610612744,GSW,0022500047,2025-11-14,SAS,240,38,90,0.422,17,...,39,18,9,8,15,20,109,0.0,0.0,1

In [ ]:
opp_stats = df.copy()
opp_stats = opp_stats.add_prefix('OPP_')
opp_stats = opp_stats.rename(columns={'OPP_GAME_ID': 'GAME_ID'})
opp_stats = opp_stats.rename(columns={'OPP_GAME_DATE': 'GAME_DATE'})
opp_stats = opp_stats.rename(columns={'OPP_MATCHUP': 'TEAM_ABBREVIATION'})
opp_stats = opp_stats.rename(columns={'OPP_MIN': 'MIN'})

df_full = df.merge(opp_stats, how='left', on=['GAME_ID', 'GAME_DATE', 'MIN', 'TEAM_ABBREVIATION'])
df_full

,TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,MATCHUP,MIN,FGM,FGA,FG_PCT,FG3M,...,OPP_REB,OPP_AST,OPP_STL,OPP_BLK,OPP_TOV,OPP_PF,OPP_PTS,OPP_HOME_OR_AWAY,OPP_STARTER_INJURIES,OPP_W/L
0,1610612745,HOU,0022500001,2025-10-21,OKC,290,43,97,0.443,11,...,38,29,12,4,12,27,125,1.0,1.0,1
1,1610612744,GSW,0022500002,2025-10-21,LAL,240,38,78,0.487,17,...,39,23,7,2,20,21,109,1.0,1.0,0
2,1610612747,LAL,0022500002,2025-10-21,GSW,240,42,77,0.545,8,...,40,29,10,4,19,27,119,0.0,1.5,1
3,1610612760,OKC,0022500001,2025-10-21,HOU,290,46,104,0.442,13,...,52,23,6,5,25,26,124,0.0,0.0,0
4,1610612737,ATL,0022500082,2025-10-22,TOR,240,38,90,0.422,10,...,54,36,10,4,19,31,138,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,1610612758,SAC,0022500044,2025-11-14,MIN,240,41,93,0.441,12,...,51,28,10,3,18,20,124,1.0,0.0,1
368,1610612740,NOP,0022500045,2025-11-14,LAL,240,39,89,0.438,12,...,45,28,13,5,18,17,118,0.0,1.0,1
369,1610612759,SAS,0022500047,2025-11-14,GSW,240,39,85,0.459,14,...,39,18,9,8,15,20,109,0.0,0.0,1
370,1610612747,LAL,0022500045,2025-11-14,NOP,240,44,84,0.524,10,...,42,24,11,3,20,23,104,1.0,1.0,0
371,1610612744,GSW,0022500047,2025-11-14,SAS,240,38,90,0.422,17,...,47,28,8,6,21,19,108,1.0,0.0,0

In [ ]:
df_full = df_full.drop(columns=['MATCHUP', 'OPP_W/L'])
df_full

,TEAM_ID,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,OPP_DREB,OPP_REB,OPP_AST,OPP_STL,OPP_BLK,OPP_TOV,OPP_PF,OPP_PTS,OPP_HOME_OR_AWAY,OPP_STARTER_INJURIES
0,1610612745,HOU,0022500001,2025-10-21,290,43,97,0.443,11,39,...,27,38,29,12,4,12,27,125,1.0,1.0
1,1610612744,GSW,0022500002,2025-10-21,240,38,78,0.487,17,40,...,32,39,23,7,2,20,21,109,1.0,1.0
2,1610612747,LAL,0022500002,2025-10-21,240,42,77,0.545,8,32,...,31,40,29,10,4,19,27,119,0.0,1.5
3,1610612760,OKC,0022500001,2025-10-21,290,46,104,0.442,13,52,...,36,52,23,6,5,25,26,124,0.0,0.0
4,1610612737,ATL,0022500082,2025-10-22,240,38,90,0.422,10,35,...,42,54,36,10,4,19,31,138,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,1610612758,SAC,0022500044,2025-11-14,240,41,93,0.441,12,33,...,38,51,28,10,3,18,20,124,1.0,0.0
368,1610612740,NOP,0022500045,2025-11-14,240,39,89,0.438,12,34,...,35,45,28,13,5,18,17,118,0.0,1.0
369,1610612759,SAS,0022500047,2025-11-14,240,39,85,0.459,14,38,...,24,39,18,9,8,15,20,109,0.0,0.0
370,1610612747,LAL,0022500045,2025-11-14,240,44,84,0.524,10,34,...,30,42,24,11,3,20,23,104,1.0,1.0
371,1610612744,GSW,0022500047,2025-11-14,240,38,90,0.422,17,45,...,36,47,28,8,6,21,19,108,1.0,0.0

In [ ]:
X = df_full[['TEAM_ID', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'PTS', 'HOME_OR_AWAY', 'STARTER_INJURIES', 'OPP_TEAM_ID', 'OPP_FGM', 'OPP_FGA', 'OPP_FG_PCT', 'OPP_FG3M', 'OPP_FG3A', 'OPP_FG3_PCT',
        'OPP_FTM', 'OPP_FTA', 'OPP_FT_PCT', 'OPP_OREB', 'OPP_DREB', 'OPP_REB', 'OPP_AST', 'OPP_TOV', 'OPP_STL', 'OPP_BLK', 'OPP_PF', 'OPP_PTS', 'OPP_HOME_OR_AWAY', 'OPP_STARTER_INJURIES']]
y_wl = df_full[['W/L']]
y_score = df_full[['PTS', 'OPP_PTS']]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

X_train, X_test, y_train, y_test = train_test_split(X, y_wl.values.ravel(), test_size=0.25, random_state=42)

clf = LogisticRegression(max_iter=1000)
beta = clf.fit(X_train, y_train)

y_pred = beta.predict(X_test)
y_pred_proba = beta.predict_proba(X_test)
loss = log_loss(y_test, y_pred_proba)

print(loss)
print("Accuracy:", accuracy_score(y_test, y_pred))

0.7032744193360694
Accuracy: 0.41935483870967744

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import RFE

results = []

for k in range(1, X.shape[1]+1):
    rfe = RFE(estimator=LogisticRegression(max_iter=1000), n_features_to_select=k)
    X_rfe = rfe.fit_transform(X_train, y_train)
    score = cross_val_score(LogisticRegression(max_iter=1000), X_rfe, y_train, cv=5).mean()
    results.append((k, score))

results_df = pd.DataFrame(results, columns=['Num_Features', 'CV_Accuracy'])
print(results_df.sort_values('CV_Accuracy', ascending=False))

    Num_Features  CV_Accuracy
26            27     0.701883
30            31     0.701883
11            12     0.694740
20            21     0.694740
29            30     0.694740
23            24     0.691169
21            22     0.687597
18            19     0.684026
15            16     0.680455
33            34     0.680455
10            11     0.676883
6              7     0.669740
35            36     0.669740
27            28     0.669740
39            40     0.669740
37            38     0.669740
24            25     0.669740
36            37     0.662597
34            35     0.662597
40            41     0.662597
16            17     0.659026
32            33     0.659026
4              5     0.651883
7              8     0.651883
12            13     0.648312
13            14     0.648312
28            29     0.644740
5              6     0.630455
8              9     0.630455
31            32     0.626883
41            42     0.616169
9             10     0.612597
14            15     0.612597
38            39     0.612597
19            20     0.609026
17            18     0.601883
22            23     0.580455
25            26     0.576883
3              4     0.551883
2              3     0.526883
0              1     0.526883
1              2     0.526883

In [ ]:
coef_df = pd.DataFrame({
    'Feature': X.columns,
    'Coefficient': clf.coef_[0]
}).sort_values(by='Coefficient', key=abs, ascending=False)

print(coef_df.head(31))

        Feature   Coefficient
21  OPP_TEAM_ID  3.341296e-11
0       TEAM_ID  3.341296e-11
18          PTS  1.009298e-17
39      OPP_PTS -4.660322e-18
1           FGM  3.884897e-18
12          REB  3.159328e-18
11         DREB  2.926666e-18
13          AST  2.700433e-18
2           FGA  2.354585e-18
23      OPP_FGA  1.766743e-18
22      OPP_FGM -1.694145e-18
32     OPP_DREB -1.609585e-18
26     OPP_FG3A  1.402698e-18
34      OPP_AST -1.274183e-18
33      OPP_REB -1.203436e-18
4          FG3M  1.195235e-18
35      OPP_TOV  1.181283e-18
7           FTM  1.127947e-18
15          STL  1.124741e-18
8           FTA  9.679866e-19
28      OPP_FTM -7.682388e-19
38       OPP_PF  7.313424e-19
16          BLK  5.200792e-19
25     OPP_FG3M -5.037926e-19
29      OPP_FTA -4.817952e-19
36      OPP_STL -4.076875e-19
31     OPP_OREB  4.061490e-19
37      OPP_BLK -3.662440e-19
5          FG3A  3.631773e-19
14          TOV -2.911983e-19
10         OREB  2.326619e-19

In [ ]:
X_verify = df_full[['TEAM_ID', 'FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PTS', 'OPP_TEAM_ID', 'OPP_FGM', 'OPP_FGA', 'OPP_FG3M', 'OPP_FG3A',
        'OPP_FTM', 'OPP_FTA', 'OPP_OREB', 'OPP_DREB', 'OPP_REB', 'OPP_AST', 'OPP_TOV', 'OPP_STL', 'OPP_BLK', 'OPP_PF', 'OPP_PTS']]

X_train, X_test, y_train, y_test = train_test_split(X_verify, y_wl.values.ravel(), test_size=0.25, random_state=42)

clf = LogisticRegression(max_iter=1000)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
y_pred_proba = clf.predict_proba(X_test)
loss = log_loss(y_test, y_pred_proba)

print(loss)
print("Accuracy:", accuracy_score(y_test, y_pred))

0.7032744233578238
Accuracy: 0.41935483870967744

In [ ]:
from nba_api.stats.endpoints import leaguedashteamstats

team_stats = leaguedashteamstats.LeagueDashTeamStats(season='2025-26', league_id_nullable='00').get_data_frames()[0]
team_stats

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,1610612737,Atlanta Hawks,13,8,5,0.615,624.0,551,1142,0.482,...,14,2,18,4,5,10,14,14,8,11
1,1610612738,Boston Celtics,13,6,7,0.462,624.0,546,1216,0.449,...,7,21,1,11,8,18,30,25,11,9
2,1610612751,Brooklyn Nets,12,1,11,0.083,576.0,451,1042,0.433,...,30,28,11,25,29,13,13,14,27,29
3,1610612766,Charlotte Hornets,12,4,8,0.333,581.0,495,1052,0.471,...,15,15,23,28,17,2,6,14,19,21
4,1610612741,Chicago Bulls,11,6,5,0.545,528.0,471,972,0.485,...,25,18,7,23,23,21,3,29,28,19
5,1610612739,Cleveland Cavaliers,13,8,5,0.615,629.0,555,1225,0.453,...,11,5,13,6,4,13,24,2,4,10
6,1610612742,Dallas Mavericks,13,3,10,0.231,634.0,507,1133,0.447,...,4,21,29,9,3,18,17,3,21,24
7,1610612743,Denver Nuggets,11,9,2,0.818,533.0,498,979,0.509,...,22,16,2,24,28,4,1,27,24,2
8,1610612765,Detroit Pistons,13,11,2,0.846,629.0,561,1188,0.472,...,1,10,18,3,1,16,29,4,7,5
9,1610612744,Golden State Warriors,14,8,6,0.571,677.0,547,1205,0.454,...,5,3,30,2,13,12,25,12,2,17
10,1610612745,Houston Rockets,11,8,3,0.727,538.0,496,996,0.498,...,17,27,8,14,16,6,2,23,23,3
11,1610612754,Indiana Pacers,12,1,11,0.083,586.0,456,1142,0.399,...,9,29,5,30,18,11,25,7,29,28
12,1610612746,LA Clippers,12,4,8,0.333,586.0,479,1000,0.479,...,29,26,21,11,13,4,4,28,26,22
13,1610612747,Los Angeles Lakers,13,9,4,0.692,624.0,542,1073,0.505,...,19,12,28,7,24,6,8,6,9,18
14,1610612763,Memphis Grizzlies,13,4,9,0.308,624.0,506,1164,0.435,...,10,5,16,20,19,18,15,10,13,25
15,1610612748,Miami Heat,13,7,6,0.538,629.0,589,1197,0.492,...,6,1,17,8,21,21,21,8,1,13
16,1610612749,Milwaukee Bucks,13,8,5,0.615,629.0,582,1144,0.509,...,21,8,14,16,12,3,28,19,5,16
17,1610612750,Minnesota Timberwolves,12,8,4,0.667,576.0,520,1033,0.503,...,25,17,11,20,11,6,15,21,15,6
18,1610612740,New Orleans Pelicans,12,2,10,0.167,581.0,465,1065,0.437,...,28,30,10,16,30,30,5,22,30,27
19,1610612752,New York Knicks,12,8,4,0.667,576.0,516,1123,0.459,...,12,13,4,18,24,13,7,24,14,4
20,1610612760,Oklahoma City Thunder,13,12,1,0.923,644.0,566,1190,0.476,...,2,14,3,1,9,6,19,4,3,1
21,1610612753,Orlando Magic,13,7,6,0.538,624.0,517,1094,0.473,...,3,19,27,19,5,24,23,1,10,15
22,1610612755,Philadelphia 76ers,12,7,5,0.583,581.0,504,1081,0.466,...,19,23,8,26,1,24,9,18,18,14
23,1610612756,Phoenix Suns,13,8,5,0.615,629.0,548,1159,0.473,...,12,7,24,5,15,16,27,14,6,8
24,1610612757,Portland Trail Blazers,12,6,6,0.500,576.0,508,1109,0.458,...,23,25,20,9,21,26,17,10,16,19
25,1610612758,Sacramento Kings,13,3,10,0.231,624.0,540,1157,0.467,...,24,11,15,13,26,21,12,19,12,26
26,1610612759,San Antonio Spurs,12,8,4,0.667,581.0,509,1030,0.494,...,16,20,22,15,9,1,9,13,20,6
27,1610612761,Toronto Raptors,12,7,5,0.583,576.0,526,1066,0.493,...,27,4,6,22,19,26,20,26,17,12
28,1610612762,Utah Jazz,12,4,8,0.333,581.0,477,1076,0.443,...,8,9,26,26,26,28,9,9,22,23
29,1610612764,Washington Wizards,12,1,11,0.083,586.0,503,1096,0.459,...,18,24,25,29,7,29,21,30,25,30

In [ ]:
cols_to_scale = ['FGM', 'FGA', 'FG3M', 'FG3A', 'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'PTS']
team_stats[cols_to_scale] = team_stats[cols_to_scale].div(team_stats['GP'], axis=0)

In [ ]:
matchups = [[14, 5], [20, 3], [27, 11], [13, 16], [7, 17]]

In [ ]:
for i, matchup in enumerate(matchups):
  away = team_stats.iloc[[matchup[0]]]
  home = team_stats.iloc[[matchup[1]]]

  away = away.reset_index(drop=True)
  home = home.reset_index(drop=True)

  X_new1 = pd.concat([away, home.add_prefix('OPP_')], axis=1)
  X_new1 = X_new1.drop(columns=[c for c in X_new1.columns if c not in X_verify.columns])

  X_new2 = pd.concat([home, away.add_prefix('OPP_')], axis=1)
  X_new2 = X_new2.drop(columns=[c for c in X_new2.columns if c not in X_verify.columns])

  X_new = pd.concat([X_new1, X_new2]).reset_index(drop=True)

  print(clf.predict(X_new))
  probability = clf.predict_proba(X_new)

  print(probability)

  print(f"{team_stats.iloc[[matchup[0]]]['TEAM_NAME']} win chance: {probability[0][1]*100}% / lose chance: {probability[0][0]*100}%")
  print(f"{team_stats.iloc[[matchup[1]]]['TEAM_NAME']} win chance: {probability[1][1]*100}% / lose chance: {probability[1][0]*100}%")

[1 1]
[[0.47311827 0.52688173]
 [0.47311827 0.52688173]]
14    Memphis Grizzlies
Name: TEAM_NAME, dtype: object win chance: 52.688172959799175% / lose chance: 47.311827040200825%
5    Cleveland Cavaliers
Name: TEAM_NAME, dtype: object win chance: 52.68817295979928% / lose chance: 47.31182704020072%
[1 1]
[[0.47311827 0.52688173]
 [0.47311827 0.52688173]]
20    Oklahoma City Thunder
Name: TEAM_NAME, dtype: object win chance: 52.688172979789094% / lose chance: 47.311827020210906%
3    Charlotte Hornets
Name: TEAM_NAME, dtype: object win chance: 52.68817297978903% / lose chance: 47.31182702021097%
[1 1]
[[0.47311827 0.52688173]
 [0.47311827 0.52688173]]
27    Toronto Raptors
Name: TEAM_NAME, dtype: object win chance: 52.68817297062712% / lose chance: 47.31182702937288%
11    Indiana Pacers
Name: TEAM_NAME, dtype: object win chance: 52.68817297062698% / lose chance: 47.31182702937302%
[1 1]
[[0.47311827 0.52688173]
 [0.47311827 0.52688173]]
13    Los Angeles Lakers
Name: TEAM_NAME, dtype: object win chance: 52.688172954801736% / lose chance: 47.311827045198264%
16    Milwaukee Bucks
Name: TEAM_NAME, dtype: object win chance: 52.68817295480179% / lose chance: 47.31182704519821%
[1 1]
[[0.47311827 0.52688173]
 [0.47311827 0.52688173]]
7    Denver Nuggets
Name: TEAM_NAME, dtype: object win chance: 52.68817295230308% / lose chance: 47.31182704769692%
17    Minnesota Timberwolves
Name: TEAM_NAME, dtype: object win chance: 52.688172952303006% / lose chance: 47.311827047696994%